body {
    padding: 0px 10px;
}

#sort {
    display: block;
    text-align: right;
}

#sort-price {
    height: 34px;
    width: 220px;
    border: 1px solid #dadcdf;
    border-radius: 4px;
    padding: 0 0 0 8px;
    font-size: 14px;
    margin-bottom: 40px;
    margin-top: 40px;
}

#body-child {
    display: flex;
    flex-direction: row;
    gap: 30px;
}



#filter-parent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#filter-parent > div > select {
    width: 300px;
    height: 50px;
    border-right: 0px #2f3337;
    border-left: 1px #2f3337;
    border-top: none;
    font-size: 14px;
    font-weight: 700;
}

#filter {
    border-left: 1px #2f3337;
}

#parentbox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}

#childbox > p+p {
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    max-height: 62px;
    overflow: hidden;
    width: 95%;
    color: #545658;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    height: 40px;
    cursor: pointer;
   
}
#childbox > p {
     color: #2f3337;
     font-size: 16px;
     line-height: 17px;
     font-weight: 700;
     margin-bottom: 8px;
     font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
     cursor: pointer;

}
img{
    width: 100%;
    cursor: pointer;
    height: 60%;
}
button{
    border-color: #219452;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    font-size: 14px;
    background: #fafafa;
    border: 1px solid #d5d7d8;
    width: 100%;
    padding: 6px 12px 6px;
    text-align: center;
    color: #454545;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: black;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
   
}
button:hover{
    background-color: #636161;
    border-color: #3e3f3e;
    color: #fff;
}


#childbox {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#product-info {
    line-height: 20px;
    font-size: 12px;
    color: #2f3337;
}

#addtocart {
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

select > option {
    width: 300px;
    height: 50px;
    border-right: 0px #2f3337;
    border-left: 1px #2f3337;
    border-top: none;
    font-size: 14px;
    font-weight: inherit;
}

.top_Signup_container{
    height: 110px;
    background-color: #2f3337;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.top_coupon_form_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75px;
    
}
.top_coupon_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_coupon_ptag{
    color: #fff;
    margin: 0 10px 0 0;
}
.top_arrowhead{
    transform: rotate(.5turn);

}
.top_banner_form_terms{
    box-sizing: border-box;
    
}
.top_banner_form{
    display: flex;
    
}
.top_banner_form_a , .top_banner_form_span{
    color: #fff;
    font-size: 12px;
}
.top_banner_form_a+span{
    margin: 0 5px;
}
.top_banner_form > input{
    height: 34px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #dadcdf;
    border-right: none;
    flex: 1;
    padding-left: 10px;
    font-size: 14px;
}
.top_banner_form > button{
    height: 37.6px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #dadcdf;
    border-left: none;
    padding: 0 10px;
    width: 80px;
    background-color: #f5f6f7;
    font-size: 14px;
    color: #2f3337;
}

.header_navbar{
    position: relative;
    z-index: 3;
    background-color: white;
}
.header_divider{
    background-color: #fff;
    border-top: 1px solid #dadcdf;
    height: 6px;
    width: 100%;
}
.search_header{
    display: flex;
    justify-content: space-between;
    height: 36px;
    align-items: center;
    padding: 0 16px;
    max-width: 1680px;
    margin: 18px auto;
    background-color: #fff;
}
.overstock_logo{
    display: flex;
    align-items: center;
    height: 100%;
    width: 10%;
    margin-right: 10px;
}
.overstock_logo > img{
    width: 100%;
}

.header_search{
    flex-grow: 1;
    height: 34px;
    margin-right: 12px;
}
.nav_search{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}
.input_search{
    border: 1px solid #dadcdf;
    border-radius: 4px 0 0 4px;
    background-color: #f9fafb;
    padding: 0 10px;
    font-size: 16px;
    appearance: none;
    line-height: 34px;
    width: 100%;
    height: 100%;
}
.search_div{
    width: 100%;
    height: 100%;
}
.user-interfrence{
    display: flex;
    width: 10%;
}
.user_int_logo{
    width: 33%;
    margin-left: 30px;
}
.topnav-contain{
    width: 100%;
    height: 34px;
    padding-bottom: 0;
    border-top: 1px solid #dadcdf;
}
.topnav-links{
    max-width: 1680px;
    margin: 0 auto;
    margin-bottom: -2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    background-color: #fff;
}
.topnav-links > div{
    box-sizing: border-box;
}
.topnav_links_sign{
    height: 18px;
    width: 1px;
    background-color: #dadcdf;
    margin: auto 6px;
}
.magnifine{
    display: flex;
    justify-content: center;
    align-items: center
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  @media only screen and (max-width: 1532px) and (min-width: 1261px) {
    #parentbox {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
  }

  @media only screen and (max-width: 1260px) and (min-width: 1115px) {
    #parentbox {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    #body-child {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    #filter-parent > div > select {
        width: 100%;
        height: 50px;
        border-right: 0px #2f3337;
        border-left: 1px #2f3337;
        border-top: none;
        font-size: 14px;
        font-weight: 700;
    }
  }

  @media only screen and (max-width: 1114px) and (min-width: 0px) {
    #parentbox {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    #body-child {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    #filter-parent > div > select {
        width: 100%;
        height: 50px;
        border-right: 0px #2f3337;
        border-left: 1px #2f3337;
        border-top: none;
        font-size: 14px;
        font-weight: 700;
    }
  }
  .footer{
    background-color: #545658;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 0;
}
.footer-container{
    display: flex;
    margin: 40px 50px 60px;
    width: 100%;
    justify-content: space-between;

}
.footer-container-div{
    width: 100%;
    margin-bottom: 5px;
    color: #fff;
    box-sizing: border-box;
    
}
.footer-col{
    width: 60%;
    display: flex;
    flex-direction: column;
   margin: 5px;
   box-sizing: border-box;
   
}
.footer-col a{
    text-decoration: none;
   
}
.footer-col div{
    font-weight: 700;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
}
.footer-col p{
    font-size: 12px;
    width: 100%;
    color: #fff;
}
.bottom-footer{
    display: flex;
    background-color: #2f3337;
    align-content: center;
}
.bottom-footer-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
font-size: 12px;
    width: 100%;
    color: #fff;
    
}
.bottom-footer-link{
    display: flex;
    color: #fff;
    justify-content: space-between;
    margin: 10px 30px 10px 10px;
    width: 450px;
    
}
.bottom-footer-link a{
    text-decoration: none;
}
.bottom-copy{
    margin: 10px 10px 10px 30px;
}
.footer-p{
    color: #fff;
}
.user-interfrence{
    display: flex;
    width: 10%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    
    
}
.user-interfrence > div > button{
    background-color: white;
    border: none;
   
}
.user-interfrence > div > p{
    font-size: 10px;
}
.user_int_logo{
    width: 33%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.user_int_logo > a{
    margin-bottom: -10px;
}
#Accounts , #list , #cart{
    background: transparent;
    border: none;
}
#Accounts > i , #cart > i, #list>i{
    color: black;
}