
* {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.top_Signup_container{
    
    height: 110px;
    background-color: #2f3337;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.top_coupon_form_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75px;
    
}
.top_coupon_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_coupon_ptag{
    color: #fff;
    margin: 0 10px 0 0;
    font-size: 15px;
}
.top_arrowhead{
    transform: rotate(.5turn);

}
.top_banner_form_terms{
    box-sizing: border-box;
    
}
.top_banner_form{
    display: flex;
    
}
.top_banner_form_a , .top_banner_form_span{
    color: #fff;
    font-size: 12px;
}
.top_banner_form_a+span{
    margin: 0 5px;
}
.top_banner_form > input{
    height: 34px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #dadcdf;
    border-right: none;
    flex: 1;
    padding-left: 10px;
    font-size: 14px;
}
.top_banner_form > button{
    height: 34px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #dadcdf;
    border-left: none;
    padding: 0 10px;
    width: 80px;
    background-color: #f5f6f7;
    font-size: 14px;
    color: #2f3337;
}

.header_navbar{
    width: 100%;
    z-index: 3;
    background-color: white;
}
.header_divider{
    background-color: #fff;
    border-top: 1px solid #dadcdf;
    height: 6px;
    width: 100%;
}
.search_header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 36px;
    align-items: center;
    padding: 0 16px;
    max-width: 1500px;
    margin: 18px auto;
    background-color: #fff;
}
.overstock_logo{
    display: flex;
    align-items: center;
    height: 100%;
    width: 10%;
    margin-right: 10px;
}
.overstock_logo > img{
    width: 100%;
}

.header_search{
    flex-grow: 1;
    height: 34px;
    margin-right: 12px;
}
.nav_search{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}
.input_search{
    border: 1px solid #dadcdf;
    border-radius: 4px 0 0 4px;
    background-color: #f9fafb;
    padding: 0 10px;
    font-size: 16px;
    appearance: none;
    line-height: 34px;
    width: 100%;
    height: 100%;
}
.search_div{
    width: 100%;
    height: 100%;
}
.user-interfrence{
    display: flex;
    width: 10%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    
    
}
.user-interfrence > div > button{
    background-color: white;
    border: none;
   
}
.user-interfrence > div > p{
    font-size: 10px;
}
.user_int_logo{
    width: 33%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.topnav-contain{
    width: 100%;
    height: 34px;
    padding-bottom: 0;
    border-top: 1px solid #dadcdf;
}
.topnav-links{
    max-width: 1680px;
    margin: 0 auto;
    margin-bottom: -2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    background-color: #fff;
}
.topnav-links > div{
    box-sizing: border-box;
}
.topnav_links_sign{
    height: 18px;
    width: 1px;
    background-color: #dadcdf;
    margin: auto 6px;
    margin-left: 20px;
}
.magnifine{
    display: flex;
    justify-content: center;
    align-items: center
}

.first-img-div{
    width: 95%;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
}

.first-main-img{
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
.first-secondry-img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 2;
}
.limiteddeal-h2{
    
    font-size: 32px;
    text-align: center;
    font-weight: bolder;
    color: #2f3337;
}
.limited-time-div{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #545663;
    margin-top: 40px;
    
}

.limited-time-img-div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    
  }
  .limited-deal-img-main-div{
    display: flex;
    flex-wrap: wrap;

  }
  .limited-deal-box-div{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .limited-time-img-div{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    width: 95%;
    margin: auto;
    background-color: white;
  }
  .limited-deal-box-div > img{
    width: 100%;
  }
  .limited-deal-box-p{
    width: 100%;
    font-size: 32px;
    font-weight: bolder;
    color: red;
    margin-top: -20px;
    margin-bottom: -10px;
  }
  .limited-deal-box-p2{
    width: auto;
    font-size: 20px;
    font-weight: 600;

  }
  .beautiful-find-div{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    color: #545663;
  }
  .beautiful-find-img-main-div{
    margin-top: 25px;
    margin-bottom: 20px;
}
.slidear-heading{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    margin: 0 0 32px;

}
.slider-wrapper{
   overflow: hidden;
   position: relative;
   width: 100%;
    
}
.slider-inner{
   grid-gap: 8px;
   gap: 8px;
   scroll-snap-type: x mandatory;
   scroll-snap-align: center;
   padding: 0 8px;
   margin: 0 -8px -16px;
}
.slider-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 15px;
    width: 250px;
    height: 375px;
}
.slider-item  img{
    width: 100%;
    
}

.slider-wrapper .prev{
    left: 10px;
}
.slider-wrapper .next{
    right: 10px;
}
.featured-brand-heading{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 22px;
    color: #545663;
}
.featured-brand-main{
    margin-bottom: 50px;
}
.featured-brand-heading h2{
    text-align: center;
    font-weight: bolder;
    color: #2f3337;
}
.featured-brand-element{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
    text-align: center;
    padding: 0%;
}
.featured-brand-element img{
    width: 100%;
    padding: 0%;
}
.featured-brand-p{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    margin: 0;
    text-align: center;
}
.featured-brand-p a{
    margin-bottom: 0;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.featured-brand-p p{
    margin-bottom: 0;
    text-decoration: none;
    color: #000000;
    text-align: center;
    width: 60%;
    
}
.featured-brand-element-div{
    background-color:#f5f6f7;
}
.featured-brand-element-a{
    width: 100%;
}
#last-img-div{
    margin-top: 50px;
    display: block;
    
}
.got-style-element{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 10px;
    text-align: center;
    padding: 0%;
}.got-style-heading h2{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: bolder;
    color: #2f3337;
    
}
.got-style-element-div{
    background-color:#f5f6f7;
    display: flex;
    flex-direction: column;
}
.got-style-element-a img{
    width: 100%;
}
.got-style-btn{
    display: flex;
    align-items: center;
    justify-content: center;
  

}
.got-style-p{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
}
.got-style-p a{
font-weight: bolder;
font-size: 24px;
color: #2f3337;
line-height: 29px;
margin-bottom: 8px;

}
.got-style-btn button{
    background: #2f3337;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin: 32px 0 0;
    width: 164px;
    height: 44px;
}
.Trending-main-div{
    
    display: flex;
    width: 95%;
    margin: auto;
    flex-direction: column;
}
.Trending-head{
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
}
.Trending-element{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 15px;
   
}
.Trending-elem-div{
 padding: 16px;
 font-size: 20px;
 text-align: center;
 background: #f5f6f7;
 
}
.Trending-elem-span{
  color: #545663;
  font-weight: bold;
}
.footer{
    background-color: #545658;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.footer-container{
    display: flex;
    margin: 40px 105px 60px;
    width: 100%;
    justify-content: space-between;

}
.footer-container-div{
    width: 100%;
    margin-bottom: 5px;
    color: #fff;
    box-sizing: border-box;
    
}
.footer-col{
    width: 60%;
    display: flex;
    flex-direction: column;
   margin: 5px;
   box-sizing: border-box;
   
}
.footer-col a{
    text-decoration: none;
   
}
.footer-col div{
    font-weight: 700;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
}
.footer-col p{
    font-size: 12px;
    width: 100%;
    color: #fff;
}
.bottom-footer{
    display: flex;
    background-color: #2f3337;
    align-content: center;
}
.bottom-footer-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
font-size: 12px;
    width: 100%;
    color: #fff;
    
}
.bottom-footer-link{
    display: flex;
    color: #fff;
    justify-content: space-between;
    margin: 10px 30px 10px 10px;
    width: 450px;
    
}
.bottom-footer-link a{
    text-decoration: none;
}
.bottom-copy{
    margin: 10px 10px 10px 30px;
}
.footer-p{
    color: #fff;
}
.menu{
    max-width: 1680px;
    margin: 0 auto;
    margin-bottom: -2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: #fff;
}
.menu > ul > li{
    display: inline-block;
    line-height: 20px;  
}
.menu > ul > li > a{
    font-size: 15px;
    font-weight: 500;
    color:#000000;
    position: relative;
    text-transform: capitalize;
    transition: color 0.3s ease;
}
.menu > ul > li .sub-menu{
  position: absolute;
  z-index: 500;
  background-color:#ffffff;
  box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3); 
  padding: 20px 30px;
  transition: all 0.5s ease;
  
  opacity:0;
  visibility: hidden;
}
@media(min-width: 992px){
.menu > ul > li.menu-item-has-children:hover .sub-menu{
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}
}
.menu > ul > li .sub-menu > ul > li{
  line-height: 1;
}
.list-item ul{
    padding: 10px 0;  
}
.list-item > ul > li > a{
    margin-top: -20px;
    font-size: 7px;
}
.list-item > ul > li > span{
    margin-top: -20px;
    font-size: 5px;
}
.list-item li{
    gap: 0;
}
.list-item img{
    width: 100%;
}
.list-item-p{
    margin-top: 10px;
    font-size: 20px;
}
.list-item-p2{
    margin-top: -10px;
}
.menu > ul > li .sub-menu > ul > li > a{
  display: inline-block;
  padding: 10px 0;
  font-size: 15px;
  color: #555555;
  transition: color 0.3s ease;
  text-decoration: none;
  text-transform: capitalize;
}
.menu > ul > li .single-column-menu{
  min-width: 280px;
  max-width: 350px;
}
.menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
 line-height: 1;
 display: block; 
 
}
.menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
  padding:10px 0;
  display: inline-block;
  font-size: 15px;
  color:#555555;
  transition: color 0.3s ease;
}
.menu > ul > li .sub-menu.mega-menu{
  left: 37%;
  transform: translateX(-50%);	
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 50px;
}
.menu > ul > li .sub-menu.mega-menu-column-4{
max-width: 900px;
width: 100%; 	
display: flex;
flex-wrap: wrap;
padding:20px 15px;
}
.menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
flex:0 0 25%;
padding:0 5px;
}
.menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
    font-size: 16px;
    color:#ea4636;
    font-weight: 500;
    line-height: 1;
    padding:10px 0;
}
.menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
    text-align: center;
}
.menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    margin-top: 10px;
}
.menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a::after,
.menu > ul > li .sub-menu > ul > li > a::after,
.item-right a::after,
.menu > ul > li::after > a{
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #ff7000;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
.menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover::after,
.menu > ul > li .sub-menu > ul > li > a:hover::after,
.item-right a:hover::after,
.menu > ul > li:hover::after > a{
  transform: scaleX(1);
  transform-origin: left;
}
ul li a::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background:black;
  
  transform: scaleX(0);
  transform-origin: right;

}
ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
/* banner section */
.banner-section{
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 100%;
  display: block;
}
.mobile-menu-head,
.mobile-menu-trigger{
    display: none;
}

/*responsive*/
@media(max-width: 991px){

    .menu{
        position: fixed;
        width: 320px;
        background-color:#ffffff;
        left:0;
        top:0;
        height: 100%;
        overflow: hidden;
        transform: translate(-100%);
        transition: all 0.5s ease;
        z-index: 1099;
    }
    .menu.active{
       transform: translate(0%);	
    }
    .menu > ul > li{
        line-height: 1;
        margin:0;
        display: block;
    }
    .menu > ul > li > a{
        line-height: 50px;
        height: 50px;
        padding:0 50px 0 15px;
        display: block;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .menu > ul > li > a i{
        position: absolute;
        height: 50px;
        width: 50px;
        top:0;
        right: 0;
        text-align: center;
        line-height: 50px;
        transform: rotate(-90deg);
    }
    .menu .mobile-menu-head{
        display: flex;
        height: 50px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 501;
        position: sticky;
        background-color: #ffffff;
        top:0;
    }
    .menu .mobile-menu-head .go-back{
        height: 50px;
        width: 50px;
        border-right: 1px solid rgba(0,0,0,0.1);
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        color:#000000;
        font-size: 16px;
        display: none;
    }
    .menu .mobile-menu-head.active .go-back{
        display: block;
    }
    .menu .mobile-menu-head .current-menu-title{
        font-size: 15px;
        font-weight: 500;
        color:#000000;
    }
    .menu .mobile-menu-head .mobile-menu-close{
        height: 50px;
        width: 50px;
        border-left: 1px solid rgba(0,0,0,0.1);
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        color:#000000;	
        font-size: 25px;
    }
    .menu .menu-main{
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .menu > ul > li .sub-menu.mega-menu,
    .menu > ul > li .sub-menu{
        visibility: visible;
        opacity: 1;
        position: absolute;
        box-shadow: none;
        margin:0;
        padding:15px;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        padding-top: 65px;
        max-width: none;
        min-width: auto;
        display: none;
        transform: translateX(0%);
        overflow-y: auto;
    }
.menu > ul > li .sub-menu.active{
    display: block;
}
@keyframes slideLeft{
    0%{
        opacity:0;
        transform: translateX(100%);
    }
    100%{
        opacity:1;
        transform: translateX(0%);	
    }
}
@keyframes slideRight{
    0%{
        opacity:1;
        transform: translateX(0%);
    }
    100%{
        opacity:0;
        transform: translateX(100%);	
    }
}
    .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
        margin-top:0;
    }
    .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
        margin-bottom: 20px;
    }
    .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center:last-child .title{
        margin-bottom:0px;
    }
    .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
        flex: 0 0 100%;
        padding: 0px;
    }
    .menu > ul > li .sub-menu > ul > li > a,
    .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
        display: block;
    }
    .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
        margin-bottom: 15px;
    }
    .menu-overlay{
        position: fixed;
        background-color: rgba(0,0,0,0.5);
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        z-index: 1098;
        visibility: hidden;
        opacity:0;
        transition: all 0.5s ease;
    }
    .menu-overlay.active{
      visibility: visible;
      opacity:1;	
    }
}


@media(max-width: 1300px) {
    /* Medium Screen  */
    .search_header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 36px;
        align-items: center;
        padding: 0 16px;
        max-width: 1000px;
        margin: 18px auto;
        background-color: #fff;
    }
}
@media(max-width: 1080px) {
    /* Medium Screen  */
    .search_header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 36px;
        align-items: center;
        padding: 0 16px;
        max-width: 700px;
        margin: 18px auto;
        background-color: #fff;
    }
}
@media(max-width: 900px) {
    /* Medium Screen  */
    .search_header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 36px;
        align-items: center;
        padding: 0 16px;
        max-width: 500px;
        margin: 18px auto;
        background-color: #fff;
    }
    
}
@media(max-width: 600) {
    /* Medium Screen  */
    .search_header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 36px;
        align-items: center;
        padding: 0 16px;
        max-width: 350px;
        margin: 18px auto;
        background-color: #fff;
    }
}
  @media (max-width: 500px) {
    /* Small Screen  */
    .limited-deal-img-main-div{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        width: 100%;
    
      }
      .limited-time-img-div{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        width: 100%;
      }
      .top_coupon_ptag{
        color: #fff;
        margin: 0 10px 0 0;
        font-size: 10px;
    }
    .overstock_logo{
        display: none;
    }
    .top_banner_form_a , .top_banner_form_span{
        color: #fff;
        font-size: 10px;

    }
    .top_banner_form > input{
        height: 20px;
        border-radius: 3px 0 0 3px;
        border: 1px solid #dadcdf;
        border-right: none;
        flex: 1;
        padding-left: 10px;
        font-size: 10px;
    }
    .top_banner_form > button{
        height: 20px;
        border-radius: 0 3px 3px 0;
        border: 1px solid #dadcdf;
        border-left: none;
        
        width: 80px;
        background-color: #f5f6f7;
        font-size: 10px;
        color: #2f3337;
    }
    .top_coupon_form_div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40px;
    }
    .top_Signup_container {
        height: 70px;
        background-color: #2f3337;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .limiteddeal-h2 {
        font-weight: 700;
        font-size: 20px;
    }
    .limited-deal-box-p {
        width: 100%;
        font-size: 10px;
        font-weight: bolder;
        color: red;
      
    }
    .limited-deal-box-p2 {
        width: auto;
        font-size: 10px;
        font-weight: 600;
        margin-top: 10px;
    }
    .limited-deal-box-div > img {
        width: 100%;
        height: 100%;
    }
    .input_search {
        border: 1px solid #dadcdf;
        border-radius: 4px 0 0 4px;
        background-color: #f9fafb;
        font-size: 10px;
        appearance: none;
        line-height: 20px;
        width: 250px;
        height: 100%;
    }
    .search_header {
        display: flex;
        justify-content: space-between;
        width: 6%;
        height: 36px;
        align-items: center;
        padding: 0;
        max-width: 350px;
        margin: 0;
        margin-left: 10px;
        background-color: #fff;
    }
    .search_div {
        width: 50%;
        height: 100%;
    }
    .nav_search {
        height: 100%;
        
        display: flex;
        position: relative;
    }
    .header_search {
        flex-grow: 1;
        height: 34px;
       
    }
    .magnifine {
        display: none;
        justify-content: center;
        align-items: center;
    }
    .user_int_logo{
        display: flex;
        width: 100px;
        margin-left: 5px;
        
    }
   .user-interfrence{
    margin-left: 50px;
   }
   .featured-brand-p p {
    margin-bottom: 0;
    text-decoration: none;
    color: #000000;
    text-align: center;
    width: 60%;
    font-size: 10px;
}
.featured-brand-p >a{
 font-size: 15px;
}
.got-style-heading h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bolder;
    color: #2f3337;
}
.got-style-p > a{
    font-size: 15px;
    line-height: 20px;
    height: 30px;
    margin-top: -10px;
}
.got-style-p > p{
    font-size: 10px;
    line-height: 30px;
}
  }
  .menu-main {
    margin-top: 0;
    margin-bottom: 0;
   
 }
 .menu-main  a{
    text-decoration: none;
 }
 .menu-main {
    padding-left: 3rem;
    
 }
 .red span{
    color: red;
 }
  .red::after{
    background: red;
  }

