#box{
   background-color: transparent;
   backdrop-filter: blur(15px);
   width: 55%;
   position: absolute;
   display: block;
   justify-content: center;
   border: 2px solid rgba(255, 255, 255, 0.5);
   top: 10%;
   left: 20%;
 }
 #innerbox{
   display: flex;
   width: 90%;
   margin: auto;
   justify-content: space-around;
 }
.box-div1{
   width: 45%;
   border: none;
  
}
form{
   display: flex;
   flex-direction: column;
}
input{
 margin-bottom: 30px;
 padding: 12px;
 

}
.input-box{
   border-radius: 5px;
   border: 1px solid rgb(170, 168, 168);

   
}
.Create{
   background-color:#026089;;
   padding: 11px 15px;
   color: #fff;
   border-radius: 3px;
   font-weight: bold;
   font-size: 16px;
   text-align: center;
   border: 1px solid #d5d7d8;
   width: 100%;
   font-family: Arial, Helvetica, sans-serif;
   padding: 15px;
}
.SigninInput{
   background-color: #27865F;
   padding: 11px 15px;
   border-color: #219452;
   color: #fff;
   border-radius: 3px;
   font-weight: bold;
   font-size: 16px;
   text-align: center;
   border: 1px solid #d5d7d8;
   width: 100%;
   font-family: Arial, Helvetica, sans-serif;
   padding: 15px;
}
.box-div2{
   display: flex;
   align-items: center;
   justify-content: left;
}
.divider{
   position:absolute;
   left:50%;
   top:10%;
   bottom:10%;
   border-left:1px solid rgb(182, 178, 178);
}
.head{
   margin-left: 40px;
}
#check{
   display: flex;
   border: 1px solid rgb(170, 168, 168);
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 10px;
}
.guest{
   color: rgb(238, 231, 231);
   height: 40px;
   padding: 11px 15px;
   color: #454545;
   font-family: Arial, Helvetica, sans-serif;
   line-height: inherit;
   background: #fafafa;
   border: 1px solid #dadcdf;
   width: 100%;
   padding: 6px 12px 6px;
   text-align: center;
   border-radius: 3px;
   font-weight: bold;
   font-size: 16px;
}
label{
   padding-left: 90px;
   padding-bottom: 10px;
   font-size: 14px;
   font-family: Helvetica, Arial, sans-serif;
   color: #000;
}

#heading{
   padding-left: 60px;
}
.head{
   padding-left: 40px;
   margin-bottom: 30px;
   font-family: Helvetica, Arial, sans-serif;
   font-weight: bold;
}
#forgot{
   margin-left: 16%;
   padding-left: 10%;
   color: #0272a2;
}
.terms{
 font-family: Helvetica, Arial, sans-serif;
 color: #626669;
 font-size: 12px;
}
a{
   color:black;
   font-size: 12px;
   font-weight: bolder;
   font-family: Helvetica, Arial, sans-serif;
}
#icon{
 margin-top:28px;
 width: 20%;
 margin: auto;
 height: 29px;
 padding-top: 15px;
}
#offers{
   font-family: Helvetica, Arial, sans-serif;
   color: #070707;
   font-size: 12px;
}
#exclusive{
 color: #000;
 font-weight:bold;
}
hr{
 width: 70%;
}
#condition{
 margin-left: 40px;
}